.container {
  margin: 0px auto;
  float: left;
  padding-left: 5%;
  position: relative;
  height: 100%;
  width: 100%;
}

.image-item {
  width: 250px;
  height: 140.62500px;
  margin-right: 5%;
  position: relative;
  float: left;
  margin-top: 5%;

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1439px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    width: 86%;
    height: 100%;
    padding: 0 8%;
  }

}

@media only screen
  and (min-device-width: 1440px)
  and (max-device-width: 1920px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    width: 86%;
    padding: 0 8%;
  }
}
